In [3]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [4]:
date = pd.to_datetime(["2020-01-01", "2021-01-01"])
units = np.array(range(1, 500+1))

region = np.array(["S", "N", "E", "W"])
reg_ps = dict(zip(region,    [0.2, 0.4, 0.6, 0.8]))
reg_fe = dict(zip(region,    [5, 3, 1, -1]))
reg_trend = dict(zip(region, [-1, 3, 6, 7]))

np.random.seed(1)
unit_region = pd.Series(np.random.choice(region, len(units)))
treated_unit = np.random.binomial(1, unit_region.map(reg_ps))

df = pd.DataFrame(dict(
    date = np.tile(date, len(units)),
    unit = np.repeat(units, len(date)),
    region = np.repeat(unit_region, len(date)),
    treated_unit = np.repeat(treated_unit, len(date)),
    
    unit_fe = np.repeat(np.random.normal(0, 2, size=len(units)), len(date)),
    time_fe = np.tile(np.random.normal(size=len(date)), len(units)),
    
    reg_ps = pd.Series(np.repeat(unit_region, len(date))).map(reg_ps),
    reg_fe = pd.Series(np.repeat(unit_region, len(date))).map(reg_fe),
    reg_trend = pd.Series(np.repeat(unit_region, len(date))).map(reg_trend))
).assign(
    treated = lambda d: (d["treated_unit"] == 1).astype(int),
    post = lambda d: (d["date"] >= "2021-01-01").astype(int)
).assign(
    y0 = lambda d: (10
                    + d["unit_fe"] 
                    + d["time_fe"] 
                    + d["reg_fe"]
                    + d["reg_trend"]*(d["date"] >= "2021-01-01")),
).assign(
    y1 = lambda d: d["y0"] + 1
).assign(
    tau = lambda d: d["y1"] - d["y0"],
    y = lambda d: np.where(d["treated"]*d["post"] == 1, d["y1"], d["y0"]) + np.random.normal(0,1,len(d))
)

df.head()

,date,unit,region,treated_unit,unit_fe,time_fe,reg_ps,reg_fe,reg_trend,treated,post,y0,y1,tau,y
0,2020-01-01,1,N,0,-2.226872,0.288617,0.4,3,3,0,0,11.061745,12.061745,1.0,12.693680
0,2021-01-01,1,N,0,-2.226872,0.058307,0.4,3,3,0,1,13.831435,14.831435,1.0,13.429646
1,2020-01-01,2,W,0,-0.134820,0.288617,0.8,-1,7,0,0,9.153797,10.153797,1.0,8.953857
1,2021-01-01,2,W,0,-0.134820,0.058307,0.8,-1,7,0,1,15.923487,16.923487,1.0,15.930876
2,2020-01-01,3,S,0,2.322880,0.288617,0.2,5,-1,0,0,17.611497,18.611497,1.0,17.887161

In [5]:
smf.ols("y~post*treated", data=df).fit().summary().tables[1]

In [6]:
smf.ols("y~post*treated + C(region)", data=df).fit().summary().tables[1]

In [7]:
smf.ols("y~post*(treated + C(region))", data=df).fit().summary().tables[1]

In [8]:
for region in df["region"].unique():
    att = smf.ols("y~post*treated", data=df.query("region==@region")).fit().params["post:treated"]
    print(region, att)

N 0.9226567466899882
W 1.1623121008046138
S 0.9169824580119377
E 0.9421142952058243